@charset "utf-8";

.box{width:600px;height:auto;margin:20px auto; float:left; margin-left:300px;}
.box label{font-size:14px;float:left;line-height:33px;color:#434343;}
.timeDateTwo{width:500px;float:left;}
.timeDateOne{width:600px;float:left; display:inline; margin-top:30px;}
.calendar{position:relative;float:left;clear:both;padding:0 0px;background:#FFF;margin-top:2px; background:url(../images/xian.gif) no-repeat center; background:#fff;}
.cal-container{float:left;margin:10px 10px 0; background:#fff;}
.calendar dl{width:183px;color:#404040;font:12px/22px Tahoma;margin:10px 10px 0;}
.calendar dl.one{width:100%;}
.calendar dl,.calendar dt,.calendar dd{text-align:center;margin:0;padding:0;}
.calendar dt{float:left;width:26px;line-height:22px;background:#d7d7d7;}
.calendar dt.date{width:100%;margin:0;background:#fff;padding-bottom:10px;color:#404040;}
.calendar dt.dateMonth{width:240px;margin:0;background:#fff;padding-bottom:10px;color:#404040;}
.calendar dt.dateMonth a{float:left;line-height:22px;color:#404040;width:40px;text-decoration:none;}
.calendar dt.dateMonth a:hover{background:url(../images/monthHover.gif) no-repeat;}
.calendar dt.dateMonth a.hove{background:url(../images/monthHove.gif) no-repeat;color:#fff;}
.calendar dt.date div{margin-bottom:5px;}
.calendar dt.date select{font-size:12px;font-family:inherit;margin:0 5px;}
.time-end dt{width:35px;}
.time-e dt{width:35px;}
.calendar dd{clear:both;width:100%;height:139px;color:#404040;}
.calendar dd a,.calendar dd a span{float:left;width:25px;height:22px;color:#404040;overflow:hidden;text-decoration:none;background:url(../images/list.png) no-repeat -999px -999px;margin:1px 0 0 1px;outline:none;}
.calendar dd a.selected,.calendar dd a.start-date{color:#fff;background:url(../images/hove.jpg) no-repeat center;}
.calendar dd a:hover,.calendar dd a.select-range:hover{color:#3f3f3f;background:url(../images/hover.jpg) no-repeat center;}
.calendar dd a.disabled,.calendar dd a.disabled:hover{color:#DCDCDC;cursor:default;background:transparent!important;}
.calendar dd a span{display:block;width:25px;height:22px;margin:0;cursor:pointer;}
.time-end dd a{width:34px;}
.time-e dd a{width:34px;}
.cal-prev,.cal-next,.cal-close{position:absolute;cursor:pointer;overflow:hidden;text-indent:-9999px;background:url(../images/ico.png) no-repeat;}
.cal-prev,.cal-next{top:3px;width:20px;height:38px;}
.cal-prev{left:10px;background-position:0 -25px;}
.cal-next{right:10px;background-position:-20px -25px;}
.time-end .cal-next{right:158px;background-position:-20px -25px;}
.time-e .cal-next{right:10px;background-position:-20px -25px;}
.cal-close{top:-23px;right:5px;width:17px;height:17px;background-position:-40px -25px;}

.calendar dd a.yuandan,
.calendar dd a.chuxi,
.calendar dd a.chunjie,
.calendar dd a.yuanxiao,
.calendar dd a.qingming,
.calendar dd a.wuyi,
.calendar dd a.duanwu,
.calendar dd a.zhongqiu,
.calendar dd a.guoqing,
.calendar dd a.today
{text-indent:-999px;}

.calendar dd a.yuandan{background-position:0 0;}
.calendar dd a.chuxi{background-position:0 -30px;}
.calendar dd a.chunjie{background-position:0 -60px;}
.calendar dd a.yuanxiao{background-position:0 -90px;}
.calendar dd a.qingming{background-position:0 -120px;}
.calendar dd a.wuyi{background-position:0 -150px;}
.calendar dd a.duanwu{background-position:0 -180px;}
.calendar dd a.zhongqiu{background-position:0 -210px;}
.calendar dd a.guoqing{background-position:0 -240px;}
.calendar dd a.today{background-position:0 -270px;}

.calendar dd a.yuandan:hover,
.calendar dd a.yuandan:hover .select-range,
.calendar dd a.yuandan .selected,
.calendar dd a.yuandan .start-date
{background:url(../images/list.png) no-repeat -31px 0;}
.calendar dd a.chuxi:hover,
.calendar dd a.chuxi:hover .select-range,
.calendar dd a.chuxi .selected,
.calendar dd a.chuxi .start-date
{background:url(../images/list.png) no-repeat -31px -30px;}
.calendar dd a.chunjie:hover,
.calendar dd a.chunjie:hover .select-range,
.calendar dd a.chunjie .selected,
.calendar dd a.chunjie .start-date
{background:url(../images/list.png) no-repeat -31px -60px;}
.calendar dd a.yuanxiao:hover,
.calendar dd a.yuanxiao:hover .select-range,
.calendar dd a.yuanxiao .selected,
.calendar dd a.yuanxiao .start-date
{background:url(../images/list.png) no-repeat -31px -90px;}
.calendar dd a.qingming:hover,
.calendar dd a.qingming:hover .select-range,
.calendar dd a.qingming .selected,
.calendar dd a.qingming .start-date
{background:url(../images/list.png) no-repeat -31px -120px;}
.calendar dd a.wuyi:hover,
.calendar dd a.wuyi:hover .select-range,
.calendar dd a.wuyi .selected,
.calendar dd a.wuyi .start-date
{background:url(../images/list.png) no-repeat -31px -150px;}
.calendar dd a.duanwu:hover,
.calendar dd a.duanwu:hover .select-range,
.calendar dd a.duanwu .selected,
.calendar dd a.duanwu .start-date
{background:url(../images/list.png) no-repeat -31px -180px;}
.calendar dd a.zhongqiu:hover,
.calendar dd a.zhongqiu:hover .select-range,
.calendar dd a.zhongqiu .selected,
.calendar dd a.zhongqiu .start-date
{background:url(../images/list.png) no-repeat -31px -210px;}
.calendar dd a.guoqing:hover,
.calendar dd a.guoqing:hover .select-range,
.calendar dd a.guoqing .selected,
.calendar dd a.guoqing .start-date
{background:url(../images/list.png) no-repeat -31px -240px;}
.calendar dd a.today:hover,
.calendar dd a.today:hover .select-range,
.calendar dd a.today .selected,
.calendar dd a.today .start-date
{background:url(../images/list.png) no-repeat -31px -270px;}
.calendar dd a.end-date{color:#fff;background:url(../images/hove.jpg) no-repeat center;}
.cal-end dd a:hover,.cal-end dd a.select-range:hover{color:#3f3f3f;background:url(../images/hover.jpg) no-repeat center;}

.calendar dd a.yuandan .end-date,
.cal-end dd a.yuandan:hover,
.cal-end dd a.yuandan:hover .select-range
{background:url(../images/list.png) no-repeat -62px 0;}
.calendar dd a.chuxi .end-date,
.cal-end dd a.chuxi:hover,
.cal-end dd a.chuxi:hover .select-range
{background:url(../images/list.png) no-repeat -62px -30px;}
.calendar dd a.chunjie .end-date,
.cal-end dd a.chunjie:hover,
.cal-end dd a.chunjie:hover .select-range
{background:url(../images/list.png) no-repeat -62px -60px;}
.calendar dd a.yuanxiao .end-date,
.cal-end dd a.yuanxiao:hover,
.cal-end dd a.yuanxiao:hover .select-range
{background:url(../images/list.png) no-repeat -62px -90px;}
.calendar dd a.qingming .end-date,
.cal-end dd a.qingming:hover,
.cal-end dd a.qingming:hover .select-range
{background:url(../images/list.png) no-repeat -62px -120px;}
.calendar dd a.wuyi .end-date,
.cal-end dd a.wuyi:hover,
.cal-end dd a.wuyi:hover .select-range
{background:url(../images/list.png) no-repeat -62px -150px;}
.calendar dd a.duanwu .end-date,
.cal-end dd a.duanwu:hover,
.cal-end dd a.duanwu:hover .select-range
{background:url(../images/list.png) no-repeat -62px -180px;}
.calendar dd a.zhongqiu .end-date,
.cal-end dd a.zhongqiu:hover,
.cal-end dd a.zhongqiu:hover .select-range
{background:url(../images/list.png) no-repeat -62px -210px;}
.calendar dd a.guoqing .end-date,
.cal-end dd a.guoqing:hover,
.cal-end dd a.guoqing:hover .select-range
{background:url(../images/list.png) no-repeat -62px -240px;}
.calendar dd a.today .end-date,
.cal-end dd a.today:hover,
.cal-end dd a.today:hover .select-range
{background:url(../images/list.png) no-repeat -62px -270px;}


/*.calendar dd a.select-range{//background-color:#D9F2FF;}*/
.calendar dd a.yuandan .select-range{background-position:-93px 0;}
.calendar dd a.chuxi .select-range{background-position:-93px -30px;}
.calendar dd a.chunjie .select-range{background-position:-93px -60px;}
.calendar dd a.yuanxiao .select-range{background-position:-93px -90px;}
.calendar dd a.qingming .select-range{background-position:-93px -120px;}
.calendar dd a.wuyi .select-range{background-position:-93px -150px;}
.calendar dd a.duanwu .select-range{background-position:-93px -180px;}
.calendar dd a.zhongqiu .select-range{background-position:-93px -210px;}
.calendar dd a.guoqing .select-range{background-position:-93px -240px;}
.calendar dd a.today .select-range{background-position:-93px -270px;}

/*.cal-end dd a.hover{//background-color:#BBDDF4;}*/
.cal-end dd a.yuandan .hover{background-position:-124px 0;}
.cal-end dd a.chuxi .hover{background-position:-124px -30px;}
.cal-end dd a.chunjie .hover{background-position:-124px -60px;}
.cal-end dd a.yuanxiao .hover{background-position:-124px -90px;}
.cal-end dd a.qingming .hover{background-position:-124px -120px;}
.cal-end dd a.wuyi .hover{background-position:-124px -150px;}
.cal-end dd a.duanwu .hover{background-position:-124px -180px;}
.cal-end dd a.zhongqiu .hover{background-position:-124px -210px;}
.cal-end dd a.guoqing .hover{background-position:-124px -240px;}
.cal-end dd a.today .hover{background-position:-124px -270px;}



.timecontainer dd a.yuandan{width:34px;background:url(../images/list.png) no-repeat 6px 0;}
.timecontainer dd a.chuxi{width:34px;background:url(../images/list.png) no-repeat 6px -30px;}
.timecontainer dd a.chunjie{width:34px;background:url(../images/list.png) no-repeat 6px -60px;}
.timecontainer dd a.yuanxiao{width:34px;background:url(../images/list.png) no-repeat 6px -90px;}
.timecontainer dd a.qingming{width:34px;background:url(../images/list.png) no-repeat 6px -120px;}
.timecontainer dd a.wuyi{width:34px;background:url(../images/list.png) no-repeat 6px -150px;}
.timecontainer dd a.duanwu{width:34px;background:url(../images/list.png) no-repeat 6px -180px;}
.timecontainer dd a.zhongqiu{width:34px;background:url(../images/list.png) no-repeat 6px -210px;}
.timecontainer dd a.guoqing{width:34px;background:url(../images/list.png) no-repeat 6px -240px;}
.timecontainer dd a.today{width:34px;background:url(../images/list.png) no-repeat 6px -270px;}


.timecontainer dd a.yuandan .end-date,
.timecontainer dd a.yuandan:hover,
.timecontainer dd a.yuandan:hover .select-range
{width:34px;background:url(../images/list.png) no-repeat -56px 0;}
.timecontainer dd a.chuxi .end-date,
.timecontainer dd a.chuxi:hover,
.timecontainer dd a.chuxi:hover .select-range
{width:34px;background:url(../images/list.png) no-repeat -56px -30px;}
.timecontainer dd a.chunjie .end-date,
.timecontainer dd a.chunjie:hover,
.timecontainer dd a.chunjie:hover .select-range
{width:34px;background:url(../images/list.png) no-repeat -56px -60px;}
.timecontainer dd a.yuanxiao .end-date,
.timecontainer dd a.yuanxiao:hover,
.timecontainer dd a.yuanxiao:hover .select-range
{width:34px;background:url(../images/list.png) no-repeat -56px -90px;}
.timecontainer dd a.qingming .end-date,
.timecontainer dd a.qingming:hover,
.timecontainer dd a.qingming:hover .select-range
{width:34px;background:url(../images/list.png) no-repeat -56px -120px;}
.timecontainer dd a.wuyi .end-date,
.timecontainer dd a.wuyi:hover,
.timecontainer dd a.wuyi:hover .select-range
{width:34px;background:url(../images/list.png) no-repeat -56px -150px;}
.timecontainer dd a.duanwu .end-date,
.timecontainer dd a.duanwu:hover,
.timecontainer dd a.duanwu:hover .select-range
{width:34px;background:url(../images/list.png) no-repeat -56px -180px;}
.timecontainer dd a.zhongqiu .end-date,
.timecontainer dd a.zhongqiu:hover,
.timecontainer dd a.zhongqiu:hover .select-range
{width:34px;background:url(../images/list.png) no-repeat -56px -210px;}
.timecontainer dd a.guoqing .end-date,
.timecontainer dd a.guoqing:hover,
.timecontainer dd a.guoqing:hover .select-range
{width:34px;background:url(../images/list.png) no-repeat -56px -240px;}
.timecontainer dd a.today .end-date,
.timecontainer dd a.today:hover,
.timecontainer dd a.today:hover .select-range
{width:34px;background:url(../images/list.png) no-repeat -56px -270px;}



.date-info,.date-info-start,.date-info-end{position:absolute;height:26px;line-height:15px;overflow:hidden;top:3px;right:10px;font-size:12px;color:#999;background:url(../images/ico.png) no-repeat right;padding-right:37px;font-weight:normal; text-indent:-9999px;}
.date-info-start{background-position:right -63px;}
.date-info-end{background-position:right -63px;}

.cal-msg{background:url(../images/top_bg.jpg) no-repeat;height:25px;padding-left:3px;}
.cal-msg span{color:#fff;font-size:12px;text-align:center;background:url(../images/top_bg.jpg) no-repeat right;width:100%;height:100%;float:right;line-height:25px;}




.parent{float:left;text-indent:0px;}


.f-text{width:103px;height:33px;color:#007cc6;line-height:33px;font-family:Arial; border:0px none;margin:0px;padding:0 0 0 8px;background:url(../images/inp.jpg) no-repeat;}
.f-textDate{width:186px;height:33px;color:#007cc6;line-height:33px;font-family:Arial; border:0px none;margin:0px;padding:0 0 0 8px;background:url(../images/inp1.jpg) no-repeat #fff;}

.timeHour{width:142px;height:300px;float:left;border-left:1px solid #d7d7d7;display:inline;margin-top:6px;}
.hour{width:71px;height:100%;float:left;}
.hour span{width:71px;height:30px;float:left;text-align:center;font-size:12px;color:#404040;line-height:40px;}
.hour dfn{float:left;padding-left:10px;font-style:normal;}
.hour a{width:25px;height:22px;float:left;text-align:center;font-size:12px;color:#404040;line-height:22px;text-decoration:none;font-weight:normal;}
.hour a:hover{background:url(../images/hover.jpg) no-repeat center;}
.hour a.disabled,.hour a.disabled:hover{color:#DCDCDC;cursor:default;background:transparent!important;}
.hour a.hove{background:url(../images/hove.jpg) no-repeat center;color:#fff;}
.oneDate{font-size:12px;color:#404040; font-weight:normal;}
.oneDate input{float:left;}
.oneDate code{font-style:normal;float:left;padding:2px 0 0 2px;}